on late-init
    start keystore

service keystore /system/bin/keystore /tmp/misc/keystore
    class early_hal
    user root
    group keystore readproc log
    writepid /dev/cpuset/foreground/tasks
    seclabel u:r:recovery:s0
